/* CSS files add styling rules to your content */

:root
{
  --bg-body-color: #222;
  --bg-primary-color: #f60;
  --bg-secondary-color: #000;
  --bg-input-color: #fff;
  
  
  --font-primary-color: #fff;
  --font-secondary-color: #fff;
  --font-input-color: #606060;
  --font-label-color: #000;
  
  --form-border-color: #fff;
}

/* Gonna set up some DOM element styles. */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2rem 25%;
  
  background-color: var(--bg-body-color);
  color: var(--font-primary-color);
}

h1 {
  text-decoration: underline;
  color: var(--font-primary-color);
  margin: 0 0 1rem 0;
}

a {
  color: var(--bg-primary-color);
}

form
{
  display: grid;
}

form a,
form button,
form input,
form select,
form textarea,
form label
{
  
  color: var(--font-input-color);
  font-weight: bold;
  border: none;
  
  font-size: 1.4rem;
}

form label
{
  font-weight: bold;
  color: var(--font-label-color);
  background-image: linear-gradient(0deg, #fff, #fff);
}

@media (min-width: 1180px)
{
  form label
  {
    background-color: none;
    background-image: 
    linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 40%),
    linear-gradient(-135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255, 255, 255, 1) 35%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 85%);
  }
}

form input
{
  background-color: var(--bg-input-color);
  border: solid 2px var(--bg-input-color);
  color: var(--font-input-color);
}

form button[type=submit]
{
  background-color: var(--bg-primary-color);
  color: var(--font-primary-color);
  border: solid 2px var(--form-border-color);
}

.container
{
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  margin: 0;
}

.item
{
  padding: 1rem;
}

.item-fullspan
{
  grid-column-start: 1;
  grid-column-end: span 6;
}

.span-5
{
  grid-column-end: span 5;
}
